<style>h2 {color: darkblue;}</style>
<p style="margin-top: 10px;color:#105cb6;font-style: italic; font-size: large">This seed will hopefully be ready to go out of the box and include Token Based security. It is based on the semester seed
from the 3rd semester in structure but made as a Webstorm Project. Clone and npm install and it should work !</p>

<h3>Features include :</h3>
<ul class="list-group">
    <li class="list-group-item">JWT Token based authentication</li>
    <li class="list-group-item">Sanitizing of usernames and passwords to prevent script attacks </li>
    <li class="list-group-iten">Helmet to protect headers</li>

</ul>




<h3>This is an ongoing project and is not ready for serious use !!</h3>