
<!--

<h1>Using the Seed</h1>

<div >
    <uib-accordion>
        <uib-accordion-group heading="Getting the Seed" >
            <ul>
                <li>Create a project folder somewhere on your systems and clone the seed from here: <a href="https://github.com/benthehorn/period4security.git">https://github.com/benthehorn/period4security.git</a> </li>
                <li></li>
            </ul>
        </uib-accordion-group>
        <uib-accordion-group is-open="status.isFirstOpen" >
            <uib-accordion-heading>
                Architecture
            </uib-accordion-heading>

            <p></p>

            <div class="col-md-8">
                <ul>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-md-4">
                <img src='app/view4/image/architecture.PNG' style="width: 100%;">
            </div>
        </uib-accordion-group>

        <uib-accordion-group >
            <uib-accordion-heading>

                Backend Architecture
            </uib-accordion-heading>
            <p></p>
            <p></p>
            <br/>
        </uib-accordion-group>

        <uib-accordion-group >
            <uib-accordion-heading>
                Frontend Architecture
            </uib-accordion-heading>

        </uib-accordion-group>

        <uib-accordion-group heading="Security Features in the Seed" >

        </uib-accordion-group>
        <uib-accordion-group heading="Adding new files">


        </uib-accordion-group>
        <uib-accordion-group heading="Removing Unnecessary Page/Code" >

        </uib-accordion-group>
        <uib-accordion-group heading="Client Side Testing" >


        </uib-accordion-group>
        <uib-accordion-group heading="Backend Testing" >


        </uib-accordion-group>
        <uib-accordion-group heading="Exercises" >

        </uib-accordion-group>

    </uib-accordion>
</div>-->
