


<h1>Useful Information</h1>

<div >
    <uib-accordion>
        <uib-accordion-group heading="JWT website and info" >
            <ul>
                <li>Find information about JWT's here: <a href="https://jwt.io/">https://jwt.io/</a> </li>
                <li>And the wiki page : <a href="https://en.wikipedia.org/wiki/JSON_Web_Token">https://en.wikipedia.org/wiki/JSON_Web_Token</a></li>
            </ul>
        </uib-accordion-group>
        <uib-accordion-group is-open="status.isFirstOpen" >
            <uib-accordion-heading>
                Security Modules Used
            </uib-accordion-heading>

            <p></p>

            <div class="col-md-8">
                <ul>
                    <li>Passport JS : <a href="http://passportjs.org/">http://passportjs.org/</a></li>
                    <li>Angular-JWT : <a href="https://github.com/auth0/angular-jwt">https://github.com/auth0/angular-jwt</a></li>
                    <li>Helmet : <a href="https://www.npmjs.com/package/helmet">https://www.npmjs.com/package/helmet</a></li>
                    <li>Sanitize-html : <a href="https://www.npmjs.com/package/sanitize-html">https://www.npmjs.com/package/sanitize-html</a></li>
                </ul>
            </div>

        </uib-accordion-group>

        <!--<uib-accordion-group >
            <uib-accordion-heading>

                Backend Architecture
            </uib-accordion-heading>
            <p></p>
            <p></p>
            <br/>
        </uib-accordion-group>

        <uib-accordion-group >
            <uib-accordion-heading>
                Frontend Architecture
            </uib-accordion-heading>

        </uib-accordion-group>

        <uib-accordion-group heading="Security Features in the Seed" >

        </uib-accordion-group>
        <uib-accordion-group heading="Adding new files">


        </uib-accordion-group>
        <uib-accordion-group heading="Removing Unnecessary Page/Code" >

        </uib-accordion-group>
        <uib-accordion-group heading="Client Side Testing" >


        </uib-accordion-group>
        <uib-accordion-group heading="Backend Testing" >


        </uib-accordion-group>
        <uib-accordion-group heading="Exercises" >

        </uib-accordion-group>-->

    </uib-accordion>
</div>
